@font-face {
    font-family: 'donuts';
    src: url('fonte/Candyshop.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.titulo_principal {
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 25px;
}
.paragrafo_principal {
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}
.navbar {
    padding: 30px 0px 0px 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar > a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.dropdown {
    width: 150px;
    float: right;
    margin-right: 20px;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 53px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn,
.dropbtn:focus {
    background-color: rgb(255, 0, 242);
}

.dropdown-conteudo {
    display: none;
    position: relative;

    width: 100%;
    max-width: 150px;
    z-index: 1;

    background-color: #a200ff;
    border-radius: 3px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-conteudo a {
    float: none;
    color: black;
    padding: 12px 18px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}
.dropbtn {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: rgb(255, 0, 242);
    border-radius: 3px;
    text-align: center;
}
.show {
    display: block;
}
header {
    background-image: linear-gradient(to bottom, #e02dc8, #aa31a0);
    height: 200px;
    margin: -10px;
    margin-top: -25px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.37);
}
